.vscode/**
.vscode-test/**
src/**
scripts/**
.github/**
.gitignore
.gitattributes
tsconfig.json
**/*.map
**/*.ts
**/*.py
node_modules/**
out/**/*.map
*.vsix
.git/**
.cursor/**
*.md
!README.md
!CHANGELOG.md
